.container{
    width: 800px;
    height: 640px;
    background-color: silver;
    padding: 10px;
}
.top-nav {
    height: 160px;
    background-color: green;
    padding: 10px;
    margin: 10px 10px 20px 10px;
    
    
    
}
.side-nav {
    height: 390px;
    width: 200px;
    background-color: blue;
    margin: 10px;

    
}
.main {
    background-color: red;
    height: 380px;
    width: 490px;
    position: relative;
    bottom: 400px;
    left: 260px;
    padding: 20px 20px 20px 20px;
}
.sub-content {
    height: 160px;
    width: 120px;
    background-color: yellow;
    display: inline-block   ;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    

}
#advertisement {
    height: 120px;
    width: 490px;
    background-color: purple;
}



